- include_role:
    name: nginx-server

- include_role:
    name: cloned-repo
  vars:
    path: /home/dcraig/huxleycraig.com
    repo: https://github.com/drcraig/huxleycraig.com.git
    user: dcraig

- include_role:
    name: nginx-config
  vars:
    root: /home/dcraig/huxleycraig.com
    hostname: "{{ huxleycraig_hostname }}"
